/* Commmunity page*/
.card-body p {
    font-size: 0.9rem;
}  
.card-body h3 {
    font-size: 1.5rem;
}  
.card-body h4 {
    font-size: 1rem;
}  
.card-body h5 {
    font-size: 1rem;
    text-align: center;
} 
.heart-icon {
    font-size: 1rem;
    text-align: center;
}
.stars {
    color: rgb(239, 165, 27);
    font-size: 1.2rem;
}
.new-release-title {
    text-align: center;
}
.new-release-subtitle {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(73, 37, 3);
}
.book-recommemd-title {
    text-align: center;
}
.book-recommemd-subtitle {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(73, 37, 3);
}
.book-review-title {
    text-align: center;
}